



<div class="main-container-grid">


<div class="container1">
    <h2>About Splash!</h2>
    <div class="logo">
            <img src="../../img/splash.png" alt="logo">
          </div>   
    <p>
            Splash! is a company based in Fresno, California. Formed in 2019, Splash! is an online marketplace which
            lets people rent out their properties or spare areas in the land to guests. Splash! provides access to
            1+ million unique places to stay in more than 5,000 cities. With Splash!'s people-to-people platform
            benefits all its stakeholders, including hosts, guests, employees and the communities in which it
            operates.

    </p>
   
    <ul class="links">
    <li><a [routerLink]="['home']" class="stretched-link">Rent a space with Splash!</a></li>
    <li><a [routerLink]="['cart']" class="stretched-link">Rent out spaces with Splash!</a></li>
    <li><a [routerLink]="['home']" class="stretched-link">Explore current spaces on Splash!</a><li>
</ul>
    
</div>

</div>




          


