
  p {
  
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  
  
  }
    
  .links {
    list-style-type: none;
    text-align: center;
    padding: 20px;
   
  }

  .links>li >a {
    
    
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  }

  .links>li >a:hover {
   color: #3B7EEE;
  }
  


h2 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h3 {
  font-weight: bold;
  padding: 20px;
  text-align: center;
  color: black;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container-grid {
  padding: 40px 20%;
  background-image: url('/img/pool1.jpg');
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  opacity: 0.8;
    display: grid;
    height: 100vh;
    align-items: center;
    margin:  25px auto;
    width: 100%;
    max-height: 85vh;
    overflow: auto;
    
}

.container1 {
    padding: 40px 20px;
    height: 100%;
    background-color: white;
    border-radius: 35px;
   
}

.logo > img {
  object-fit: contain;
  width: calc(100% + 50px);
  display: block;
  height: 200px;
  margin: -35px -35px 35px -35px;
  margin-top: 3px;
}
