<div class="login-grid">
  <div></div>
  <form class="login-form box-shadow">
    <div class="login-logo">
      <img src="../../img/splash.png" alt="logo">
    </div>      
    <div class="form-group">
      <label for="exampleInputEmail1">User Name</label>
      <input [(ngModel)]="user.email" name="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="button" class="btn box-shadow" (click)="login(user)">Login</button>
  </form>
  <div></div>
  <div class="footer">
    <p>For educational use only.</p>
   </div>
</div>