<div class="contact-grid">
    <div></div>
    <form class="contact-form box-shadow">
      <div class="contact-logo">
        <img src="../../img/splash.png" alt="logo">
      </div>      
      <div class="form-group">
        <label for="exampleInputfullName1">Full Name</label>
        <input [(ngModel)]="contact.fullName" name="fullName" type="text" class="form-control" id="exampleInputfullName1" aria-describedby="emailHelp" placeholder="Full Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input [(ngModel)]="contact.email" name="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputMessage1">Message</label>
        <textarea [(ngModel)]="contact.message" name="message" type="text" class="form-control" id="exampleInputMessage1" aria-describedby="emailHelp" placeholder="Message"></textarea>
      </div>

      <button  type="button" class="btn box-shadow" (click)="createContact(contact)">Send</button>
    </form>
    <div></div>
  </div>