.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 90vh;
    align-items: center;
  }
  
  .contact-form {
    padding: 15px;
    background-color: rgb(200, 228, 252);
    border-radius: 25px;

  }
  .contact-logo > img {
    object-fit: contain;
    width: calc(100% + 50px);
    display: block;
    height: 200px;
    margin: -25px -25px 25px -25px;
    margin-top: 3px;
  }
  
  .form-group {
    color: white;
    color: black;
  }
.form-control {
  border: solid 0.5px #166fc9;
}
  .btn {
    float: right;
  }

  .btn {
    background-color: #1dbab4;
    padding: 10px;
    width: 100px;
    color: white;
  }

  .links {
    list-style-type: none;
    text-align: left;
    padding: 20px;
   
  }