.nav-action-container {
  margin: 20px auto;
  width: 90%;
}

.main-nav {
  padding: 10px 5%;
  width: 100%;
  background-color: transparent !important;
}
.contact-button{
  margin-right: 9px;
  float:right;
  background-color: #F19F4D;
}
.contact-grid {
  display:grid;
  margin: 20px auto;
  width: 90%;
  height: 80vh;
  max-height: 80vh;
  overflow: auto;
}
.edit-mode {
  background-color: #ffe503 !important;
}

.nav-link:hover {
  background-color: #1dbab4;
  transition-duration: 0.9s;
  border-radius: 5px;
}
.brand {
  height: 85px;
}

.mat-primary {
  background-color: #166fc9;
  padding: 10px;
}

.btn {
  background-color: #1dbab4;
  padding: 10px;
  width: 100px;
  color: white;
}


