
<div class="main-app-grid">
    <div class="main-header">
        Available Spaces
      </div>

  <div class="main-content">
    <table class="table">
      <thead class="thead-primary">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Price</th>
          <th scope="col">Location</th>
          <th scope="col">Cancellation Rules</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rental of rentals; let i = index">
          <td><img class="cover" [attr.src]="rental.image_url" alt="Image"></td>
          <td><input [(ngModel)]="rental.price" type="text" class="form-control" placeholder="price"></td>
          <td><input [(ngModel)]="rental.location" type="text" class="form-control" placeholder="location"></td>
          <td><input [(ngModel)]="rental.cancellations" type="text" class="form-control" placeholder="cancellations"></td>
          <td><textarea [(ngModel)]="rental.description" row="5" class="form-control" placeholder="description"></textarea></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">
    For educational purpose only.
  </div>
</div>
