.main-app-grid {
  display: grid;
  grid-template-rows: 1fr 13fr 1fr;
  height: 100%;
  overflow: auto;
}

.main-header {
  padding: 240px;
  margin-top: 20px;
  text-align: center;
  font-size: 6em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  background-image: url('/img/pool2 copy.jpg');
  background-size: cover;
  position: relative;
  
}

.nav-item {
  padding: 10px;
}
.main-nav {
  margin:20px auto;
  background-color: transparent !important;
  padding:0 5%;
}
.nav-action-container {
  padding:0 5%;
}

.thead-primary {
  background-color: #1dbab4;
  color: rgb(255, 255, 255);
  border: 1px solid #A3A3A3;
}
.main-content {
  background-color: rgb(240, 240, 240);
  margin: 20px auto;
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
  max-height: 80vh;
 position: relative;

 
  

}

.cover {
  height: 300px;
  width: 300px;
  object-fit: cover;
  padding-left: 40px;

}


.table td {
  border: 1px solid #A3A3A3;

}

.table tr th {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


